<div class="page-width page-width--narrow page-content">

  {%- include 'breadcrumbs' -%}
<header class="section-header">
    <h1 class="section-header__title">{{ page.title }}</h1>
  </header>

<div class="rte rte--nomargin">
        {{ page.content }}
        <div class="row">
  <div class="col-md-6">
        <h2>Pages</h2>
        <ul>
          {% for page in pages %}
            <li>
                <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
           {% endfor %}
 
        </ul>
    </div>
<div class="col-md-6">
<h2>Collections</h2>
<ul>
{% for c in collections %}
<li>
<a href="{{ c.url }}">{{ c.title }}</a>
</li>
{% endfor %}
</ul>
</div>
<div class="col-md-6">
<h2>Products</h2>
<ul>
  {% paginate collections.all.products by 1000 %}
{% for product in collections.all.products %}
<li>
<a href="{{ product.url }}">{{ product.title }}</a>
</li>
{% endfor %}
  {% endpaginate %}
</ul>
</div>
</div>
  </div>

</div>
